@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<p>
    Calm&Connect is a groundbreaking online platform designed to
    provide anonymous, accessible, and professional psychiatric support
    to individuals struggling with mental health issues such as depression,
    anxiety, and sadness.

    In an era where mental health awareness is more critical than ever,
    Calm&Connect aims to bridge the gap between those in need of
    psychiatric help and certified professionals, ensuring a safe and
    confidential environment for consultations.
</p>

